.detailPage {
    margin-top: 5rem;
    background-color: $searchfieldbg;

    &__backOnePage {
        cursor: pointer;
        padding: 1.2rem;
        background-color: $lightgreen;
        border: none;}
    
    &__faq {
        padding: 3rem 0 10rem 0;
        width: 70vw;
        margin: 0 auto;
    }

    &__question {
        font-size: 15px;
    }

    &__answer {
        padding-top: 1rem;
    }

    &__lastEdit {
        padding-top: 3rem;
        font-size: 12px;
        color: $searchfieldtext;
    }
}


// buttons //
.editDeleteFaq {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: $lightyellow;
    padding: 1rem 0;

    &__button {
        cursor: pointer;
        border: none;
        background-color: $lightyellow;
        font-size: 15px;
        color: $darkyellow;
    }
}



