
$lightgreen: #c2d7c5;
$darkgreen: #0e6218;

$lightyellow: #fdf4c3;
$darkyellow: #7c6c34;

$lightred: #fcd7d7;
$darkred: #760505;

$questionTitle: #4E4D4D;
$questionanswer: #080808;
$containerfaq: #F8F8F8;
$questions: #5f5f5f;
$questionsborder: #dddada;
$activequestionbg: #f8f8f8;

$searchfieldtext: #c7c5c5;
$searchfieldbg: inset 0 0 5px $questionsborder;
